<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../Public/css/estilos1.css">
    <title>Petit Fours</title>
  </head>
  <body>
    <header>
      <div class="Contenedor_Cabecera">
        <nav class="navbar navbar-expand-lg ">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">
              <img src="../Public/img/LOGO_AL11.png" alt="" width="20" height="24" class="d-inline-block ">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="../index.html">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" aria-current="page" href="#">Nosotros</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Productos
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#">Petit Fours</a></li>
                    <li><a class="dropdown-item" href="lingotes.html">Lingotes</a></li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#Contenedor_Contacto">Contacto</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <main>
         <section class="section-division" id="Contenedor_Producto">
           <div class="Titulo-Producto">
             <h2 class="Titu-Producto">PETIT FOURS</h2>
           </div>
         </section>

         <section class="section-division" id="Contenedor_Descripcion">
          <div class="Contenido-Descripcion">
           <div class="Imagen-Descripcion">
             <figure class="Iconos">
                 <img src="../Public/img/C66.jpg"  alt="Foto">
             </figure>
           </div>
           <div class="Texto-Descripcion">
             <p class ="descripcion-txt">Los Petit Fours son pequeños dulces de 3 o 4 cm de diámetro, que permiten comerse de un bocado.
             </p>
             <span class ="descripcion-txt">La ventaja es que no se necesita vajilla para servirlos. Las bandejas provistas, se utilizan para presentarlos en la mesa.
             </span>
             <span class ="descripcion-txt">Además, se pueden combinar  distintos sabores y texturas.<br>
             </span>
             <span class ="descripcion-txt"><strong>Presentación :</strong> <br>
             </span>
             <span class ="descripcion-txt"> Caja de 24 unidades.<br>
             </span>
             <span class ="descripcion-txt"> Caja de 48 unidades.<br>
             </span>
           </div>
         </div>
         </section>

         <section class="section-division" id="Contenedor_Galeria">
           <div class="Titulo-Galeria">
               <h2 class="Titu-Galeria">Variedades</h2>
           </div>
           <div class="Contenido-Galeria">
               <div class="Elemento-galeria">
                 <img src="../Public/img/P1.jpg" alt="Apple Bar">
                 <a href="#">Apple Bar</a>
               </div>
               <div class="Elemento-galeria">
                 <img src="../Public/img/P2.jpg" alt="Chocotorta">
                 <a href="#">Chocotorta</a>
               </div>
               <div class="Elemento-galeria">
                 <img src="../Public/img/P3.jpg" alt="Coco y Nuez">
                 <a href="#">Coco</a>
               </div>
               <div class="Elemento-galeria">
                 <img src="../Public/img/P4.jpg" alt="Frutilla">
                 <a href="#">Frutilla</a>
               </div>
               <div class="Elemento-galeria">
                 <img src="../Public/img/P5.jpeg" alt="Brownie">
                 <a href="#">Brownie</a>
               </div>
               <div class="Elemento-galeria">
                 <img src="../Public/img/P6.jpeg" alt="Lemon Pie">
                 <a href="#">Lemon</a>
               </div>
               <div class="Elemento-galeria">
                 <img src="../Public/img/P7.jpg" alt="Cheese Cake">
                 <a href="#">CheeseCake</a>
               </div>
               <div class="Elemento-galeria">
                 <img src="../Public/img/P8.jpg" alt="Havannet">
                 <a href="#">Havannet</a>
               </div>
               <div class="Elemento-galeria">
                 <img src="../Public/img/P9.jpg" alt="Alfajorcitos">
                 <a href="#">Alfajorcitos</a>
               </div>
               <div class="Elemento-galeria">
                 <img src="../Public/img/P10.jpg" alt="Maracuyá">
                 <a href="#">Maracuyá</a>
               </div>
           </div>
         </section>

         <section class="section-division" id="Contenedor_Contacto">
           <div class="Contenido-Contacto">
             <div class="Datos-Contacto">
               <figure class="Iconos">
               <img src="../Public/img/Contactos1a.png"  alt="">
               </figure>
             </div>
             <div class="Mapa-Contacto">
               <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d105114.43505425738!2d-58.59771744849691!3d-34.58326662469304!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1s47%20%20Street%20palomar!5e0!3m2!1ses!2sar!4v1656332992219!5m2!1ses!2sar" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
             </div>
           </div>
         </section>
    </main>
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>
